@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SanFrancisco';
  src: url('./fonts/SF-UI-Display-Light.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Great Vibes';
  src: url('./fonts/GreatVibes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kreadon';
  src: url('./fonts/ofont.ru_Kreadon.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}